In [36]:
#To use a python library(pandas) to use functions that are inbuilt in pandas
import pandas as pd  #pandas renamed as pd

In [37]:
#variable is assigned to pd and to read the csv file(sample csv file)
dataset=pd.read_csv("sample.csv")

In [38]:
dataset #print

    S.No  YearExperience    Salary
0      1             1.1   39343.0
1      2             1.3   46205.0
2      3             1.5   37731.0
3      4             2.0   43525.0
4      5             2.2   39891.0
5      6             2.9   56642.0
6      7             3.0   60150.0
7      8             3.2   54445.0
8      9             3.2   64445.0
9     10             3.7   57189.0
10    11             3.9   63218.0
11    12             4.0   55794.0
12    13             4.0   56957.0
13    14             4.1   57081.0
14    15             4.5   61111.0
15    16             4.9   67938.0
16    17             5.1   66029.0
17    18             5.3   83088.0
18    19             5.9   81363.0
19    20             6.0   93940.0
20    21             6.8   91738.0
21    22             7.1   98273.0
22    23             7.9  101302.0
23    24             8.2  113812.0
24    25             8.7  109431.0
25    26             9.0  105582.0
26    27             9.5  116969.0
27    28             9.6  112635.0
28    29            10.3  122391.0
29    30            10.5  121872.0

In [39]:
#to split the trainset and testset
#variable is independent
independent=dataset[["YearExperience"]]
independent

    YearExperience
0              1.1
1              1.3
2              1.5
3              2.0
4              2.2
5              2.9
6              3.0
7              3.2
8              3.2
9              3.7
10             3.9
11             4.0
12             4.0
13             4.1
14             4.5
15             4.9
16             5.1
17             5.3
18             5.9
19             6.0
20             6.8
21             7.1
22             7.9
23             8.2
24             8.7
25             9.0
26             9.5
27             9.6
28            10.3
29            10.5

In [40]:
#variable is dependent assigned to salary
dependent=dataset[["Salary"]]
dependent

      Salary
0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
5    56642.0
6    60150.0
7    54445.0
8    64445.0
9    57189.0
10   63218.0
11   55794.0
12   56957.0
13   57081.0
14   61111.0
15   67938.0
16   66029.0
17   83088.0
18   81363.0
19   93940.0
20   91738.0
21   98273.0
22  101302.0
23  113812.0
24  109431.0
25  105582.0
26  116969.0
27  112635.0
28  122391.0
29  121872.0

In [41]:
#here python library is used (.)is a another function to call 
# train test split is class name 
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30, random_state=0)  #(x_train,x_text,y_train,y_test are variables to arrange the values)

In [42]:
#linear model is another function name and to import the LinearRegression function
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()   #regressor is variable to store the functions into this(from linearRegression())
regressor.fit(x_train,y_train)  #to fit the(x_train,y_train) inputs in linearRegression

LinearRegression()

In [43]:
#to calculate weight from regressor (coef_)
weight=regressor.coef_
weight

array([[9360.26128619]])

In [44]:
#to calculate bais from regressor (intercept_)
bais=regressor.intercept_
bais

array([26777.3913412])

In [45]:
#y_pred is variable
y_pred=regressor.predict(x_test)  #x_test is the input of predicted variable

In [46]:
# metrics is python library function and r2_score is also a function of python
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)    #r_score is variable,(y_test,y_pred) are actual and predicted values inserted to calculate r_score
r_score  # the r_score is nearly to 1 is the best AI program else nearly to 0 is poor AI program

0.9740993407213511

In [47]:
# to save the module we use pickle function
import pickle

In [48]:
filename="finalized_model_linear.sav"   #variable and file name created (.sav)

In [49]:
pickle.dump(regressor,open(filename,'wb'))   #dump the full function into pickle variable   
                                             # ('wb') is write binary

In [50]:
# variable created and it is the end user applicattion to use frequent 
# 'rb' is read binary to read and to get the input
loaded_model=pickle.load(open("finalized_model_linear.sav",'rb'))

In [51]:
#vaiable is assigned to program and it was the final input to get the output of the AI program 
result=loaded_model.predict([[13]])       #load_model has full function to calculate the given integer and it will predict

C:\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [52]:
result #print the variable to get the output

array([[148460.78806172]])